.DS_Store
*.swp
*~.nib	

BrainDots/proj.android/bin/*
BrainDots/proj.android/gen/*
BrainDots/proj.android/obj/*
BrainDots/proj.android/libs/*
BrainDots/proj.ios_mac/BrainDots.xcodeproj/project.pbxproj
BrainDots/proj.ios_mac/BrainDots.xcodeproj/project.xcworkspace/xcuserdata/Hoang.xcuserdatad/UserInterfaceState.xcuserstate
BrainDotsDebug/proj.android/bin/*
BrainDotsDebug/proj.android/gen/*
BrainDotsDebug/proj.android/obj/*
BrainDotsDebug/proj.android/libs/*
BrainDotsDebug/proj.android/project.properties
BrainDotsDebug/proj.ios_mac/BrainDotsDebug.xcodeproj/project.pbxproj
BrainDotsDebug/proj.ios_mac/BrainDotsDebug.xcodeproj/project.xcworkspace/xcuserdata/Hoang.xcuserdatad/UserInterfaceState.xcuserstate
TexturePolygon/proj.android/bin/*
TexturePolygon/proj.android/gen/*
TexturePolygon/proj.android/obj/*
TexturePolygon/proj.android/libs/*
TexturePolygon/proj.ios_mac/TexturePolygon.xcodeproj/project.pbxproj
TexturePolygon/proj.ios_mac/TexturePolygon.xcodeproj/project.xcworkspace/xcuserdata/Hoang.xcuserdatad/UserInterfaceState.xcuserstate
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate