<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_ball_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1612},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>game_ball_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1977},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>game_brush_25x25.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1509},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>game_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,682},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>game_btn_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1282},{248,248}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>game_btn_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1620},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>game_explosion_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2000},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>game_explosion_blue_ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1372},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>game_explosion_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2000},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>game_explosion_red_ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1070},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>game_explosion_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1948},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>game_explosion_yellow_ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,756},{312,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,312}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>game_largeBrush.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1536},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>image_coin_128x128.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1847},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>image_coin_64x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1686},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>image_fail_64x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1752},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>image_fail_96x96.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1305},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{92,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>image_pencil.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1847},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>image_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,905},{600,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,375}}</string>
                <key>sourceSize</key>
                <string>{600,375}</string>
            </dict>
            <key>image_success_32x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1782},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>image_success_64x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1977},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>image_success_96x96.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1207},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>menu_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1977},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>menu_btn_lang_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,454},{300,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,96}}</string>
                <key>sourceSize</key>
                <string>{300,96}</string>
            </dict>
            <key>menu_btn_lang_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,905},{300,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,96}}</string>
                <key>sourceSize</key>
                <string>{300,96}</string>
            </dict>
            <key>menu_btn_share_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1532},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{248,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>menu_btn_share_googleplus.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,476},{208,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{208,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>menu_btn_share_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{214,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,20},{214,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>menu_btn_share_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1818},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>menu_btn_share_twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,218},{256,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{256,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>menu_icon_blockads.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1636},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>menu_icon_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1636},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>menu_icon_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1782},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>menu_icon_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1422},{64,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,59}}</string>
                <key>sourceSize</key>
                <string>{64,59}</string>
            </dict>
            <key>menu_icon_notification.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,1617},{124,124}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{124,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>menu_icon_pencil.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1977},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>menu_icon_recordvideo.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1546},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{64,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>menu_icon_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1912},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>menu_icon_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1977},{46,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>menu_icon_support.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1782},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>menu_icon_twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1912},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>menu_icon_youtube.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1766},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>menu_image_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1512},{251,163}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{251,163}}</string>
                <key>sourceSize</key>
                <string>{275,179}</string>
            </dict>
            <key>menu_image_share_350x228.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{350,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,228}}</string>
                <key>sourceSize</key>
                <string>{350,228}</string>
            </dict>
            <key>menu_image_stage.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,450}}</string>
                <key>sourceSize</key>
                <string>{800,450}</string>
            </dict>
            <key>menu_img_share_700x457.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{700,449}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{700,449}}</string>
                <key>sourceSize</key>
                <string>{700,457}</string>
            </dict>
            <key>menu_lock_icon_128x128.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1399},{84,108}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{84,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>menu_lock_icon_256x256.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1677},{168,228}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,17},{168,228}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>menu_lock_icon_64x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1372},{48,60}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{48,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>menu_switch_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,682},{138,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,64}}</string>
                <key>sourceSize</key>
                <string>{138,64}</string>
            </dict>
            <key>menu_switch_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1509},{106,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,64}}</string>
                <key>sourceSize</key>
                <string>{106,64}</string>
            </dict>
            <key>menu_switch_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1512},{106,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,64}}</string>
                <key>sourceSize</key>
                <string>{106,64}</string>
            </dict>
            <key>menu_switch_thumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1488},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>scrollbar_horizontal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,498},{20,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,10}}</string>
                <key>sourceSize</key>
                <string>{20,10}</string>
            </dict>
            <key>scrollbar_vertical.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,476},{10,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{10,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>braindotsSpriteSheet.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbdea26c2d604bdae1498539144bff4f:d27d5547426efb2be08a8691af081a4e:b52ef475328eff65df524a524cb54bd6$</string>
            <key>textureFileName</key>
            <string>braindotsSpriteSheet.png</string>
        </dict>
    </dict>
</plist>
